# dependencies
node_modules/

# next.js
.next/
out/
build/

# env
.env
.env.local

# database
*.db
*.db-journal

# logs
*.log
npm-debug.log*

# misc
.DS_Store
*.pem

# vercel
.vercel

# typescript
*.tsbuildinfo
